<section class="balance-section">
    <section class="welcome-section-message">
        WELCOME BACK,
    </section>

    <section class="welcome-section-name">
        {{ firstName() }}
    </section>

    <section class="welcome-section-message">
        Here's your account overview
    </section>
    <p class="balance-label">
        AVAILABLE BALANCE
    </p>

    <h1 class="balance">
        {{ balance() | currency }}
    </h1>

    <p class="last-updated">
        Updated:     {{ lastUpdated() | date}}
    </p>

</section>
