.welcome-section-message {
    font-size: 12px;
    font-family: "Lucida Console", "Courier New", monospace;
    letter-spacing: 5px;
    color: #A8A492;
}


.welcome-section-name {
    font-size: 42px;
    font-family: "Lucida Console", "Courier New", monospace;
    letter-spacing: 5px;
    /* letter-spacing: 1px; */
    color: #A8A492;
    margin-bottom: 15px;
    margin-top: 15px
}

.balance-section {
    max-width: 800px;
    margin: 0;
}

.balance-label {
    font-size: 12px;
    font-family: "Lucida Console", "Courier New", monospace;
    letter-spacing: 5px;
    color: #A8A492;
    margin-top: 50px;
    margin-bottom: 20px;
}

.balance {
    font-size: 42px;
    font-family: "Lucida Console", "Courier New", monospace;
    letter-spacing: 3px;
    margin: 0;
}

.last-updated {
    font-size: 12px;
    font-family: "Lucida Console", "Courier New", monospace;
    letter-spacing: 5px;
    color: #A8A492;
    margin-top: 15px;
}

