
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

<form (ngSubmit)="attemptLogin()" class="login-form">
   <div class="login-selector">
    <button type="button" (click)="mode.set('login')" [class.active]="mode() === 'login'">Login</button>
    <button type="button" (click)="mode.set('register' )" [class.active]="mode() === 'register'">Register</button>

  </div>
    @if(mode()=='register'){
        <h2>Create new account</h2>
    }
    @if(mode()=='login'){
        <h2>Login to your account</h2>
    }
    <label>
        <p>Username</p>
        <input type="text" [(ngModel)]="usernameInput" name="username" required />
    </label>
    <label>
        <p>Password</p>
        <input type="password" [(ngModel)]="passwordInput" name="password" required />
    </label>
    @if(mode()=='login'){
        <button type="submit" class="login-button">Login</button>
    }

    @if(mode()=='register'){
        <button type="submit" class="login-button">Register</button>
    }
    
    @if (errorMessage) {
        <p class="error-message">{{errorMessage}}</p>
    }
</form>
